/* fonts local */
@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #f8f8f8;
}

/* header */
.nav-wrapper {
  background-color: #f8f8f8 !important;
}

.judul img {
  margin-top: 12px;
  width: 250px;
}

.nav-wrapper a {
  font-size: 11pt;
  margin-top: 5px;
  color: black;
}

header {
  background-color: #f8f8f8;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
div .container {
  margin-top: -300px;
}
header img {
  width: 350px;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.parallax-container {
  height: 400px;
}

.tabs .indicator {
  background-color: aqua;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 400px;
  }
  .judul img {
    margin-top: 13px;
    width: 200px;
  }
}
