/* fonts local */
@font-face {
  font-family: "Roboto-Thin";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
}
* {
  font-family: Roboto-Thin;
}

body {
  background-color: #f8f8f8;
}

header {
  background: url(/img/1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 700px;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.parallax-container {
  height: 400px;
}

.tabs .indicator {
  background-color: aqua;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}
