header {
  background: url(/img/1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 700px;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.parallax-container {
  height: 400px;
}

.tabs .indicator {
  background-color: aqua;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}
