/* font face */
@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* navbar */
.white {
  box-shadow: 1px 1px 3px #0d47a1;
}
.nav-wrapper a {
  background-color: transparent !important;
}


/* slider */
.slider h3,
h5 {
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}

/* pelayanan */
#pertama {
  margin-top: 70px;
}

.section img {
  width: 230px;
  border-radius: 3px;
}
.section h5 {
  color: black;
  font-weight: unset;
  display: inline;
  background-image: linear-gradient(#fff 60%, #265aab 55%);
}

/* contact */
.section h4 {
  color: white;
  font-weight: unset;
  display: inline;
  background-image: linear-gradient(#005e9b 60%, #0d47a1 55%);
}
#kontak p {
  color: white;
  text-align: justify;
}
.material-icons.prefix,
input[type="checkbox"] + span::before {
  color: white;
}
#kontak label {
  color: white;
}
[type="checkbox"].filled-in:checked + span:not(.lever)::before {
  border-color: #fff;
  background-color: #fff;
}

/* --------------------------------------------
  MOBILE VERSION
----------------------------------------------- */
@media screen and (max-width: 670px) {
  #pelayanan p {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .section {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  section #tentang {
    margin-top: -1000px !important;
  }
  .parallax-container {
    height: 600px;
  }
}
