/* --------------------------------------------
  MIAN STYLING
----------------------------------------------- */
@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
  src: url(/assets/fonts/Roboto-Regular.ttf) format("truetype");
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.white {
  box-shadow: 1px 1px 3px #0d47a1;
}
.slider h3,
h5 {
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}

#pertama {
  margin-top: 70px;
}

#terakhir {
  margin-bottom: 150px;
}
.section img {
  width: 230px;
  border-radius: 3px;
}
.section h5 {
  color: black;
  font-weight: unset;
  display: inline;
  background-image: linear-gradient(#fff 60%, #265aab 55%);
}

/* layanan kami */
.card-panel {
  margin-top: 20px;
}
.tabs .tab a {
  font-weight: bold;
  color: #000;
}

.tabs .tab a:hover {
  color: #000;
}

.tabs .tab a:focus.active {
  color: #000;
  background-color: rgba(13, 71, 161, 0.2);
}

.tabs .indicator {
  background-color: #0d47a1;
}
div .flow-text {
  font-size: 12pt;
  font-weight: bold;
  color: #000;
  display: inline-block;
  margin-top: 35px;
  background-image: linear-gradient(#fff 60%, #265aab 50%);
}
div .text {
  margin-top: 5px;
  color: #265aab;
  text-shadow: 1px 1px 3px #fff;
}
/* --------------------------------------------
  MOBILE VERSION
----------------------------------------------- */
@media screen and (max-widht: 670px) {
  .section {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  div .flow-text {
    font-size: 10pt;
    color: #000;
    display: inline-block;
    margin-top: 35px;
    background-image: linear-gradient(#fff 60%, #265aab 50%);
  }
}
