/* --------------------------------------------
  MIAN STYLING
----------------------------------------------- */
@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
  src: url(/assets/fonts/Roboto-Regular.ttf) format("truetype");
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.slider h3,
h5 {
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}

#pertama {
  margin-top: 70px;
}

#terakhir {
  margin-bottom: 150px;
}
.section img {
  width: 230px;
  border-radius: 3px;
}
.section h5 {
  color: black;
  font-weight: unset;
  display: inline;
  background-image: linear-gradient(#fff 60%, #265aab 55%);
}

/* --------------------------------------------
  MOBILE VERSION
----------------------------------------------- */
@media screen and (max-widht: 670px) {
  .section {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
}
