/* --------------------------------------------
  MIAN STYLING
----------------------------------------------- */
@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.slider h3,
h5 {
  text-shadow: 1px 1px 1px black;
}
/* --------------------------------------------
  MOBILE VERSION
----------------------------------------------- */
