/* --------------------------------------------
  MIAN STYLING
----------------------------------------------- */
@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* --------------------------------------------
  MOBILE VERSION
----------------------------------------------- */
